@import "../../scss/variables.scss";
.cartDetail {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 63%;
	margin: 0 auto;
	min-height: 40vh;
	@media (max-width: 1024px) {
		max-width: 80%;
	}
	@media (max-width: 576px) {
		max-width: 100%;
		margin: 0 2rem;
	}
	.title {
		margin: 3rem 0;
		font-family: "Josefin Sans", sans-serif;
		font-size: 5rem;
		font-weight: 700;
		color: #0d0e43;
	}

	.cartDetail-card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		margin: 1rem 0 1rem;

		border-bottom: 1px solid $light-grey;
		min-height: 12rem;
		height: auto;
		width: 100%;
		@media (max-width: 768px) {
			flex-direction: column;
		}

		.cardImg-Title {
			display: flex;
			align-items: center;

			.card-img-container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 10rem;
				width: 10rem;
				@media (max-width: 992px) {
					height: 5rem;
					width: 5rem;
				}

				.img-primary {
					height: 100%;
					width: auto;
				}
			}
			.info-title {
				font-family: "Josefin Sans", sans-serif;
				font-size: 2.8rem;
				@media (max-width: 1400px) {
					font-size: 2.5rem;
				}
				@media (max-width: 992px) {
					font-size: 2rem;
				}
			}
			.stock {
				min-width: 7rem;
				@media (max-width: 992px) {
					display: none;
				}
			}
		}

		.price-container {
			display: flex;
			.price {
				display: flex;
				flex: 1;
				align-items: center;
				justify-content: space-between;
				.item-price {
					font-family: "Josefin Sans", sans-serif;
					font-size: 1.4rem;
					font-weight: 400;
					color: $text1;
					margin: 0 3rem;
					min-width: 6rem;
					@media (max-width: 992px) {
						margin: 0 1rem;
					}
				}
				.promo-price {
					color: $primary;
					text-decoration: line-through;
				}
			}
		}

		.card-info {
			padding-left: 2rem;

			.wishList-container {
				margin: 1rem 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				span {
					font-family: "Josefin Sans", sans-serif;
					font-size: 1.6rem;
					color: #151875;
				}
				i {
					margin-left: 1rem;
					cursor: pointer;
				}
			}
			.info-categories {
				font-family: "Josefin Sans", sans-serif;
				font-size: 1.6rem;
				color: #151875;
			}
			.social-icon-container {
				display: flex;
				margin-bottom: 2rem;
				.social-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $text1;
					border-radius: 50%;
					height: 3rem;
					width: 3rem;
					margin-top: 1rem;
					margin-right: 0.5rem;
					cursor: pointer;
					i {
						font-size: 1.6rem;
					}
				}
			}
			.itemDetail-description {
				.description-title {
					font-family: "Josefin Sans", sans-serif;
					font-size: 2.2rem;
					color: #151875;
				}
				.description-text {
					font-family: "Josefin Sans", sans-serif;
					font-size: 1.6rem;
					color: #757793;
				}
			}
		}
		.close {
			cursor: pointer;
			@media (max-width: 992px) {
				display: flex;
			}

			i {
				color: $text1;
				font-size: 1.2rem;
			}
		}
	}
}
