@import "../../scss/variables.scss";
.form-checkout {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 2rem;
	width: 100%;

	.line-input {
		width: 100%;
		border: none;
		border-bottom: 1px solid $light-grey;
		margin: 3rem 0 0;
		font-size: 1.6rem;
		color: $black;
		padding: 3rem 0 0.5rem;
		&:focus-visible {
			outline: none;
			border-color: $black;
		}
	}
	.half {
		width: 47.5%;
		margin-right: 2.5%;
		@media (max-width: 768px) {
			width: 100%;
			margin-right: 0;
		}
	}
	.fix-margin {
		margin-right: 0;
		margin-left: 2.5%;
		@media (max-width: 768px) {
			margin-left: 0;
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:focus {
		transition: background-color 600000s 0s, color 600000s 0s;
	}
}
