@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&display=swap");
.heading-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 4.4rem;
  background-color: #7e33e0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 1000;
}

.heading-bar .heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 63%;
  height: 100%;
}

.heading-bar .heading-container .heading-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.heading-bar .heading-container .heading-info .heading-info-text {
  padding: 0 5rem 0 1rem;
  color: #f1f1f1;
}

.heading-bar .heading-container .heading-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-bar .heading-container .heading-nav .headingbar-ckeckbox {
  display: none;
}

.heading-bar .heading-container .heading-nav .headingbar-hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.heading-bar .heading-container .heading-nav .heading-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  padding: 0 1rem;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .navbar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #f1f1f1;
  z-index: 900;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown {
  background-color: #7e33e0;
  padding: 0;
  position: absolute;
  opacity: 0;
  border-radius: 0.5rem;
  height: 0;
  top: -1rem;
  z-index: 800;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown li + li {
  margin-top: 1rem;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown li {
  padding: 0.5em 1em;
  width: auto;
  text-align: center;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown li a {
  color: #ffffff;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown li a:hover {
  color: #fb2e86;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item:hover .heading-dropdown {
  opacity: 1;
  padding: 3em 0 1rem;
  height: auto;
}

.heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item:active .heading-dropdown {
  opacity: 1;
  padding: 3em 0 1rem;
  height: auto;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .heading-bar {
    height: 3.4rem;
  }
  .heading-bar .heading-container {
    min-width: 100%;
    padding: 0 1rem;
  }
  .heading-bar .heading-container .heading-info .heading-info-text {
    font-size: 1.2rem;
    padding: 0 2rem 0 0.5rem;
  }
  .heading-bar .heading-container .heading-nav .headingbar-ckeckbox:checked ~ .heading-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #7e33e0;
    margin-top: 3rem;
    position: absolute;
  }
  .heading-bar .heading-container .heading-nav .headingbar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
  .heading-bar .heading-container .heading-nav .heading-navbar {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 0;
    height: auto;
    z-index: 99999;
  }
  .heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item {
    width: 100%;
    padding: 2rem 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item .heading-dropdown {
    position: relative;
    width: 100%;
    background-color: #9877e7;
    margin-top: 0;
    z-index: 900;
    top: 0;
    border-radius: 0;
  }
  .heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item:hover .heading-dropdown {
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .heading-bar .heading-container .heading-nav .heading-navbar .heading-navbar-item:active .heading-dropdown {
    padding-top: 1rem;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=HeadingBar.css.map */