@import '../../scss/variables.scss';
.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 27rem;
	margin: 4rem 2.5rem;
	overflow: hidden;
	&:hover .item-img-container {
		background-color: $img-bg-hover;
	}
	&:hover .item-img-container .item-icon-container {
		left: 0;
	}
	.item-img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background-color: $img-bg;
		width: 100%;
		height: 28rem;
		&:hover {
		}
		.item-img {
		}
		.item-icon-container {
			display: flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: -100%;
			margin-bottom: 2rem;
			margin-left: 1rem;

			.icon-container {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 3rem;
				width: 3rem;
				border-radius: 50%;
				// background-color: red;
				&:hover {
					background-color: $white;
				}

				.icon-cart {
					background-color: $text1;
					padding: 1.2rem;
					height: 0.2rem;
					width: 0.2rem;
				}
				.icon-search-plus {
					background-color: $text1;
				}
				.icon-hart {
					background-color: $text1;
				}
			}
		}
	}

	.item-title {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
		color: $text1;
		margin-top: 1.8rem;
		margin-bottom: 0.8rem;
	}
	.color-icons {
		margin-bottom: 1.5rem;
		.icon-color {
			height: 1rem;
			width: 1rem;
			border-radius: 50%;
			margin: 0.3rem;
		}
		.icon-yellow {
			background-color: $icon-yellow;
		}
		.icon-pink {
			background-color: $icon-pink;
		}
		.icon-violet {
			background-color: $icon-violet;
		}
	}
	.item-price {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		color: $text1;
		margin: 0 0.5rem 1rem;
	}
	.promo-price {
		color: $primary;
		text-decoration: line-through;
	}
}
