@import "../../scss/variables.scss";

.slick-slider {
	.slick-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 700;
	}
	.slick-prev {
		left: 5rem;
		&:before {
			position: absolute;
			font-size: 6rem;
			color: $violet;
		}
	}
	.slick-next {
		right: 5rem;
		&:before {
			font-size: 6rem;
			color: $violet;
		}
	}

	.slick-dots {
		bottom: 5rem;
		button {
			&:before {
				content: "";
				height: 1rem;
				width: 1rem;
				background-color: transparent;
				border: 1px solid $primary;
				transform: rotateZ(45deg);
				opacity: 1;
			}
		}
		.slick-active {
			button {
				&:before {
					content: "";
					height: 1rem;
					width: 1rem;
					background-color: $primary;
					border: 1px solid $primary;

					opacity: 1;
				}
			}
		}
	}
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 1024px) {
	.slick-slider {
		.slick-arrow {
			display: none;
		}
	}
}
