// @import '../../scss/variables.scss';

/* NAVBAR STYLING STARTS */
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem 0;
	background-color: $white;
	border-bottom: 1px solid $light;

	.navbar-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $white;
		min-width: 63%;
		.navigation {
			display: flex;
			align-items: center;
			.nav-links {
				height: 100%;
				.menu-ckeckbox {
					display: none;
				}
				.hamburger {
					display: none;
					font-size: 24px;
					user-select: none;
				}
				.menu {
					display: flex;
					font-size: 1.6rem;
					.active {
						color: $primary !important;
					}
					.nav-item {
						position: relative;
						margin-right: 3.5rem;
						a {
							font-family: 'Lato', sans-serif;
							color: $black;
							&:hover {
								color: $primary;
							}
						}
						&:hover {
						}
					}
				}
			}
		}
		.search-container {
			position: relative;
			height: 4rem;

			.search {
				display: flex;
				justify-content: flex-end;
				height: 100%;
				.search-input {
					height: 100%;
					border: none;
					border: 2px solid $light-grey;
					border-right: none;
					width: 26.7rem;
					font-size: 1.6rem;
					padding-left: 1rem;
				}
				.search-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					right: 0;
					width: 5rem;
					height: 4rem;
					background-color: $primary;
					border: none;
					cursor: pointer;

					.icon-search {
						height: 2.4rem;
						width: 2.4rem;
					}
					i {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.navbar {
		padding: 1rem 0;
		.navbar-container {
			width: 100%;
			padding: 0 2rem;
			.navigation {
				width: 100%;
				justify-content: space-between;

				.nav-links {
					.menu-ckeckbox {
						&:checked ~ .menu {
							display: flex;
							flex-direction: column;
							background-color: $light;
							margin-top: 1.5rem;
							position: absolute;
						}
					}
					.hamburger {
						display: block;
						cursor: pointer;
					}
					.menu {
						display: none;
						position: absolute;
						right: 0;
						left: 0;
						text-align: center;
						padding: 0;

						.active {
						}
						.nav-item {
							margin: 0;
							&:hover {
								// background-color: $white;
							}

							a {
								display: block;
								padding: 1.5rem;
								&:hover {
									background-color: $white;
									color: $primary;
								}
							}
							&:hover {
								display: inline-block;

								transition: 0.3s ease;
							}
						}
					}
				}
			}
			.search-container {
				display: none;
				.search {
					.search-input {
					}
					.search-btn {
						.icon-search {
						}
					}
				}
			}
		}
	}
}
