@import "../../scss/variables.scss";
.footer {
	min-height: 10rem;
	background-color: #e2e5ff;
	padding-top: 5rem;
	.footer-info-container {
		display: grid;
		grid-template-columns: auto 1fr 1fr 1fr;
		justify-content: center;
		justify-items: center;
		width: 63%;
		margin: 0 auto;
		@media (max-width: 768px) {
			justify-items: flex-start;
		}
	}
	.social {
		background-color: #c7ccf7;
		.footer-social {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 65%;
			margin: 0 auto;
			min-height: 3rem;
			padding: 1rem;
			.footer-copyright {
				color: #61658f;
				padding: 1rem 0;
				text-align: center;
				font-size: 1.4rem;
			}
		}
	}
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 1366px) {
	.footer {
		.footer-info-container {
			grid-template-columns: 1fr 1fr;
		}
	}
}
@media (max-width: 1024px) {
	.footer {
		.footer-info-container {
			grid-template-columns: 1fr 1fr;
		}
	}
}
@media (max-width: 768px) {
	.footer {
		.footer-info-container {
			grid-template-columns: 1fr;
		}
	}
}
