@import '../../scss/variables.scss';
.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $counter;
	height: 2, 55rem;
	width: 10rem;
	margin: 3rem 0;
	.counterBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 2.2rem;
		background-color: darken($counter-btn, 10%);
		border: none;
		font-size: 1.6rem;
	}
	.counterValue {
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: $black;
	}
}
